/*
 * Copyright (c) 2026 Lawrence Langat <lawrencelangatmi@gmail.com>
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7/stm32h723Xg.dtsi>
#include <st/h7/stm32h723zgtx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Custom STM32H723ZG-based Keyboard";
	compatible = "generic,keyboard_h723zg";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &dtcm;
	};

	leds: leds {
		compatible = "gpio-leds";

		orange_led: led_0 {
			gpios = <&gpiod 7 GPIO_ACTIVE_HIGH>;
			label = "Caps Led";
		};
	};

	otghs_ulpi_phy: otghs_ulpis_phy {
		compatible = "usb-ulpi-phy";
		#phy-cells = <0>;
	};

	aliases {
		led0 = &orange_led;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>;
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&pll {
	div-m = <5>;
	mul-n = <110>;
	div-p = <1>;
	div-q = <5>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(550)>;
	d1cpre = <1>;
	hpre = <2>;    /* HCLK: 275   MHz */
	d1ppre = <2>;  /* APB1: 137.5 MHz */
	d2ppre1 = <2>; /* APB2: 137.5 MHz */
	d2ppre2 = <2>; /* APB3: 137.5 MHz */
	d3ppre = <2>;  /* APB4: 137.5 MHz */
};

&pwr {
	power-supply = "ldo";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&rtc {
	status = "disabled";
};

&i2c4 {
	pinctrl-0 = <&i2c4_scl_pf14 &i2c4_sda_pf15>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pf1 &i2c2_sda_pf0>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

zephyr_udc0: &usbotg_hs {
	status = "okay";
	pinctrl-0 = <&usb_otg_hs_ulpi_ck_pa5
		     &usb_otg_hs_ulpi_d0_pa3
		     &usb_otg_hs_ulpi_d1_pb0
		     &usb_otg_hs_ulpi_d2_pb1
		     &usb_otg_hs_ulpi_d3_pb10
		     &usb_otg_hs_ulpi_d4_pb11
		     &usb_otg_hs_ulpi_d5_pb12
		     &usb_otg_hs_ulpi_d6_pb13
		     &usb_otg_hs_ulpi_d7_pb5
		     &usb_otg_hs_ulpi_stp_pc0
		     &usb_otg_hs_ulpi_dir_pc2_c
		     &usb_otg_hs_ulpi_nxt_pc3_c>;
	pinctrl-names = "default";
	maximum-speed = "high-speed";
	/* Enable OTGHSULPIEN rather than OTGHSEN */
	clocks = <&rcc STM32_CLOCK_BUS_AHB1 0x6000000>,
		 <&rcc STM32_SRC_HSI48 USB_SEL(3)>;
	phys = <&otghs_ulpi_phy>;
	status = "okay";
};
